global:
    scrape_interval: 15s
    scrape_timeout: 10s
scrape_configs:
    - job_name: "prometheus"
      static_configs:
          - targets: ["localhost:9090"]
    
    - job_name: "serving"
      static_configs:
          - targets: ["localhost:8000"]
