apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: nexusml
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: nbngoc1303/frontend:latest   #  Thay thế image thật
        imagePullPolicy: IfNotPresent
        env:
        - name: BACKEND_URL
          value: "http://backend.nexusml.svc.cluster.local:8000/api"
        ports:
        - containerPort: 7860
