apiVersion: v1
kind: Service
metadata:
  name: minio-service
  namespace: nexusml
spec:
  selector:
    app: minio
  ports:
  - protocol: TCP
    port: 9000
    targetPort: 9000
    name: minio-api
  - protocol: TCP
    port: 9001
    targetPort: 9001
    name: minio-console
  type: ClusterIP
