apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
  namespace: nexusml
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minio
  template:
    metadata:
      labels:
        app: minio
    spec:
      containers:
      - name: minio
        image: minio/minio:latest
        imagePullPolicy: IfNotPresent
        args:
        - server
        - /data
        - --console-address
        - :9001
        ports:
        - containerPort: 9000 # S3 API Port
          name: minio-api
        - containerPort: 9001 # Console UI Port
          name: minio-console
        envFrom:
        - secretRef:
            name: minio-secret
        volumeMounts:
        - name: minio-data
          mountPath: /data
      volumes:
      - name: minio-data
        persistentVolumeClaim:
          claimName: minio-data-pvc
