apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
  namespace: nexusml # Assuming a namespace for the project
spec:
  serviceName: redis-service
  replicas: 1 # Typically one replica is sufficient for a Redis broker
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: redis:7.2-bookworm # Using the same image as in docker-compose
        ports:
        - containerPort: 6379
          name: redis-port
        volumeMounts:
        - name: redis-data
          mountPath: /data
  volumeClaimTemplates:
  - metadata:
      name: redis-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi # Adjust storage size as needed for Redis data
