apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: nexusml
spec:
  selector:
    app: redis
  ports:
    - port: 6379
      targetPort: 6379
      name: redis-port
  clusterIP: None # Headless service for StatefulSet discovery
