apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: nexusml
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: nbngoc1303/backend:latest   #  Thay thế bằng image thật của bạn
        imagePullPolicy: Always
        env:
        - name: MINIO_ENDPOINT
          value: "http://minio-service.nexusml.svc.cluster.local:9000"
        - name: MINIO_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: minio-secret
              key: accesskey
        - name: MINIO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: minio-secret
              key: secretkey
        - name: MINIO_BUCKET
          value: "nexusml"
        ports:
        - containerPort: 8000
