apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
  namespace: nexusml # Assuming a namespace for the project
spec:
  serviceName: postgres-service
  replicas: 1 # Typically one replica for a database unless using replication
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: nbngoc1303/postgres-custom # Using the same image as in docker-compose
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5432
          name: postgres-port
        env:
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: postgres-secret # Reference to a Kubernetes Secret
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_PASSWORD
        - name: POSTGRES_DB
          value: "image_db" # From docker-compose.yaml
        volumeMounts:
        - name: postgres-data
          mountPath: /var/lib/postgresql
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"

  volumeClaimTemplates:
  - metadata:
      name: postgres-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 10Gi # Adjust storage size as needed for PostgreSQL data
