# 1. Dùng Image Custom của bạn
defaultAirflowRepository: nbngoc1303/airflow-custom
defaultAirflowTag: 1.0.0

# 2. Executor (Dùng Celery hoặc KubernetesExecutor)
executor: CeleryExecutor

# 3. Cấu hình Biến môi trường (Kết nối sang Stack 1)
# Giả sử MinIO/MLflow nằm ở namespace 'default'
# DNS nội bộ K8s: <tên-service>.<namespace>.svc.cluster.local
env:
  - name: "AIRFLOW__CORE__LOAD_EXAMPLES"
    value: "False"
  
  # Kết nối MinIO (Stack 1)
  - name: "MINIO_ENDPOINT"
    value: "http://minio-service.default.svc.cluster.local:9000"
  - name: "AWS_ACCESS_KEY_ID"
    value: "minioadmin"
  - name: "AWS_SECRET_ACCESS_KEY"
    value: "minioadmin"
  - name: "MINIO_BUCKET"
    value: "nexusml"
    
  # Kết nối MLflow (Stack 1)
  - name: "MLFLOW_TRACKING_URI"
    value: "http://mlflow-service.default.svc.cluster.local:5000"

# 4. Git Sync (Để tự động lấy DAG từ Github về)
# Bạn cần đẩy code DAG lên Github trước
dags:
  gitSync:
    enabled: true
    repo: https://github.com/USERNAME/REPO-CUA-BAN.git
    branch: main
    rev: HEAD
    depth: 1
    maxFailures: 0
    subPath: "" # Nếu dags nằm trong thư mục con thì điền vào đây (vd: "dags")

# 5. Cấu hình Webserver (UI)
webserver:
  service:
    type: LoadBalancer # Để truy cập từ ngoài Internet

# 6. Database & Redis (Dùng bản tích hợp sẵn cho tiện)
postgresql:
  enabled: true
redis:
  enabled: true

# 7. Logs (Lưu log lâu dài)
logs:
  persistence:
    enabled: true
    size: 5Gi