global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s

# Load alert rules
rule_files:
  - "alert_rules.yml"

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  # - job_name: "loki"
  #   static_configs:
  #     - targets: ["loki:3100"]
  
  - job_name: "node_exporter"
    static_configs:
      - targets: ["node_exporter:9100"]

  - job_name: "mlops_backend"
    metrics_path: "/metrics"
    static_configs:
      - targets: ["mlops-backend:8000"]
    scrape_interval: 5s
    scrape_timeout: 4s
    metric_relabel_configs:
      # Keep all inference and drift metrics
      - source_labels: [__name__]
        regex: "(inference_count|inference_latency_seconds.*|drift_.*|evidently_.*|vqa_.*|process_vram_memory_GB|image_brightness.*)"
        action: keep
