services:
  prometheus:
    image: prom/prometheus
    container_name: mlops-prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus:/etc/prometheus
      - prometheus-data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
    restart: always
    networks: 
      - my_shared_network
    # ĐÃ XÓA LOGGING DRIVER

  alertmanager:
    image: prom/alertmanager
    container_name: mlops-alertmanager
    ports:
      - "9093:9093"
    volumes:
      - ./alertmanager:/etc/alertmanager
      - alertmanager-data:/alertmanager
    command:
      - "--config.file=/etc/alertmanager/alertmanager.yml"
    restart: always
    networks:
      - my_shared_network
    # ĐÃ XÓA LOGGING DRIVER

  grafana:
    image: grafana/grafana
    container_name: mlops-grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/datasources.yml:/etc/grafana/provisioning/datasources/datasources.yml
      - ./grafana/dashboards.yml:/etc/grafana/provisioning/dashboards/dashboards.yml
      - ./grafana:/etc/grafana/provisioning/dashboards
      - grafana-data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
      - loki
    restart: always
    networks:
      - my_shared_network
    # ĐÃ XÓA LOGGING DRIVER

  # --- LOKI SERVICE ---
  loki:
    image: grafana/loki:3.4.1
    container_name: mlops-loki
    volumes:
      # Đảm bảo file config đã tải ở Bước 1 nằm đúng chỗ này
      - ./loki/config.yml:/etc/loki/local-config.yaml
      - loki-data:/loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    restart: unless-stopped
    networks:
      - my_shared_network
    # ĐÃ XÓA LOGGING DRIVER (Loki không cần log chính nó vào nó theo cách này)

  # --- PROMTAIL SERVICE (MỚI - Để thu thập log) ---
  promtail:
    image: grafana/promtail:3.4.1
    container_name: mlops-promtail
    volumes:
      # File config tải ở Bước 1
      - ./promtail/config.yml:/etc/promtail/config.yml
      # Mount socket docker để lấy tên container
      - /var/run/docker.sock:/var/run/docker.sock
      # Mount thư mục log của máy host để đọc log
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki
    networks:
      - my_shared_network

  node_exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node_exporter
    command:
      - '--path.rootfs=/host'
    ports:
      - "9100:9100"
    pid: host
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'
    networks:
      - my_shared_network

volumes:
  prometheus-data:
  alertmanager-data:
  grafana-data:
  loki-data:

networks:
  my_shared_network:
    external: true
    name: house_prices_default