services:
    prometheus:
        image: prom/prometheus
        ports:
            - "9090:9090"
        volumes:
            - ./prometheus:/etc/prometheus
        command:
            - "--config.file=/etc/prometheus/prometheus.yml"
        restart: always

    grafana:
        image: grafana/grafana
        ports:
            - "3000:3000"
        depends_on:
            - prometheus
        restart: always
    