apiVersion: batch/v1
kind: Job
metadata:
  name: airflow-init
  namespace: nexusml
spec:
  template:
    spec:
      securityContext:
        runAsUser: 50000
        runAsGroup: 0
      containers:
      - name: airflow-init
        image: nbngoc1303/airflow-image
        imagePullPolicy: IfNotPresent
        env:
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_PASSWORD
        envFrom:
        - secretRef:
            name: airflow-secret
        volumeMounts:
        - name: airflow-dags
          mountPath: /opt/airflow/dags
        - name: airflow-logs
          mountPath: /opt/airflow/logs
        - name: airflow-config
          mountPath: /opt/airflow/config
        - name: airflow-plugins
          mountPath: /opt/airflow/plugins
        command:
        - /bin/bash
        - -c
        - |
          # Kiểm tra kết nối PostgreSQL
          export PGPASSWORD=$POSTGRES_PASSWORD
          
          # Thử kết nối và tạo database
          if pg_isready -h postgres-service.nexusml.svc.cluster.local -U $POSTGRES_USER; then
            psql -h postgres-service.nexusml.svc.cluster.local -U $POSTGRES_USER -d postgres -c "SELECT 1 FROM pg_database WHERE datname = 'airflow'" | grep -q 1 || \
            psql -h postgres-service.nexusml.svc.cluster.local -U $POSTGRES_USER -d postgres -c "CREATE DATABASE airflow;"
          else
            echo "Không thể kết nối tới PostgreSQL"
            exit 1
          fi
          
          # Di chuyển và khởi tạo database Airflow
          airflow db init && \
          airflow db migrate && \
          airflow users create \
            --username admin \
            --firstname Admin \
            --lastname User \
            --role Admin \
            --email admin@example.com \
            --password admin
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
      restartPolicy: Never
      volumes:
      - name: airflow-dags
        persistentVolumeClaim:
          claimName: airflow-dags-pvc
      - name: airflow-logs
        persistentVolumeClaim:
          claimName: airflow-logs-pvc
      - name: airflow-config
        persistentVolumeClaim:
          claimName: airflow-config-pvc
      - name: airflow-plugins
        persistentVolumeClaim:
          claimName: airflow-plugins-pvc
