apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-scheduler
  namespace: nexusml
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow-scheduler
  template:
    metadata:
      labels:
        app: airflow-scheduler
    spec:
      securityContext:
        runAsUser: 50000
        runAsGroup: 0
      containers:
      - name: airflow-scheduler
        image: nbngoc1303/airflow-image:latest
        imagePullPolicy: Always
        command: ["airflow", "scheduler"]
        env:
        # --- THÊM DÒNG NÀY ---
        - name: AIRFLOW__CORE__AUTH_MANAGER
          value: "airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager"
        - name: MINIO_ENDPOINT
          value: "http://minio-service.nexusml.svc.cluster.local:9000"
        - name: MINIO_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: minio-secret # Tên Secret chứa key/value MinIO
              key: MINIO_ACCESS_KEY
        - name: MINIO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: minio-secret
              key: MINIO_SECRET_KEY

        - name: MLFLOW_S3_ENDPOINT_URL
          value: "http://minio-service.nexusml.svc.cluster.local:9000"

        envFrom:
        - secretRef:
            name: airflow-secret
        volumeMounts:
        - name: airflow-dags
          mountPath: /opt/airflow/dags
        - name: airflow-logs
          mountPath: /opt/airflow/logs
        - name: airflow-config
          mountPath: /opt/airflow/config/airflow.cfg
          subPath: airflow.cfg
        - name: airflow-plugins
          mountPath: /opt/airflow/plugins
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "2Gi"
            cpu: "500m"

      volumes:
      - name: airflow-dags
        persistentVolumeClaim:
          claimName: airflow-dags-pvc
      - name: airflow-logs
        persistentVolumeClaim:
          claimName: airflow-logs-pvc
      - name: airflow-config
        configMap:
          name: airflow-config
      - name: airflow-plugins
        persistentVolumeClaim:
          claimName: airflow-plugins-pvc
