apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-worker
  namespace: nexusml
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow-worker
  template:
    metadata:
      labels:
        app: airflow-worker
    spec:
      securityContext:
        runAsUser: 50000
        runAsGroup: 0
      containers:
      - name: airflow-worker
        image: nbngoc1303/airflow-image:latest
        imagePullPolicy: Always
        command: ["airflow", "celery", "worker"]
        envFrom:
        - secretRef:
            name: airflow-secret
        volumeMounts:
        - name: airflow-dags
          mountPath: /opt/airflow/dags
        - name: airflow-logs
          mountPath: /opt/airflow/logs
        - name: airflow-config
          mountPath: /opt/airflow/config/airflow.cfg
          subPath: airflow.cfg
        - name: airflow-plugins
          mountPath: /opt/airflow/plugins
        resources:
          requests:
            memory: "1Gi"
            cpu: "500m"
          limits:
            memory: "4Gi"
            cpu: "10000m"

            
      volumes:
      - name: airflow-dags
        persistentVolumeClaim:
          claimName: airflow-dags-pvc
      - name: airflow-logs
        persistentVolumeClaim:
          claimName: airflow-logs-pvc
      - name: airflow-config
        configMap:
          name: airflow-config
      - name: airflow-plugins
        persistentVolumeClaim:
          claimName: airflow-plugins-pvc
