apiVersion: v1
kind: Secret
metadata:
  name: airflow-secret
  namespace: nexusml
type: Opaque
stringData:
  # Kết nối database
  AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://postgres:aivn2025@postgres-service.nexusml.svc.cluster.local:5432/airflow
  # Backend cho Celery
  AIRFLOW__CELERY__RESULT_BACKEND: db+postgresql://postgres:aivn2025@postgres-service.nexusml.svc.cluster.local:5432/airflow
  # Fernet Key cho Airflow (Sử dụng key bạn đã cung cấp)
  AIRFLOW__CORE__FERNET_KEY: "4e1-neOhp3iAvVRFPJaM9EKy6qBkx6SN1S2fZDEdydU="
  # Không load các ví dụ
  AIRFLOW__CORE__LOAD_EXAMPLES: "false"
  # Executor Celery
  AIRFLOW__CORE__EXECUTOR: "CeleryExecutor"
  # Redis broker
  AIRFLOW__CELERY__BROKER_URL: "redis://:@redis-service.nexusml.svc.cluster.local:6379/0"
  # Scheduler health check
  AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK: "true"
  # API auth
  AIRFLOW__API__AUTH_BACKENDS: "airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session"
  _AIRFLOW_WWW_USER_USERNAME: admin
  _AIRFLOW_WWW_USER_PASSWORD: admin123