apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-webserver
  namespace: nexusml
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow-webserver
  template:
    metadata:
      labels:
        app: airflow-webserver
    spec:
      securityContext:
        runAsUser: 50000
        runAsGroup: 0

      containers:
      - name: airflow-webserver
        image: nbngoc1303/airflow-image
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
          name: webserver-port

        env:
        - name: AIRFLOW__CORE__EXECUTOR
          value: "CeleryExecutor"
        - name: AIRFLOW__DATABASE__SQL_ALCHEMY_CONN
          value: "postgresql+psycopg2://postgres:$(POSTGRES_PASSWORD)@postgres-service.nexusml.svc.cluster.local:5432/airflow"
        - name: AIRFLOW__CELERY__RESULT_BACKEND
          value: "db+postgresql://postgres:$(POSTGRES_PASSWORD)@postgres-service.nexusml.svc.cluster.local:5432/airflow"
        - name: AIRFLOW__CELERY__BROKER_URL
          value: "redis://:@redis-service.nexusml.svc.cluster.local:6379/0"
        - name: AIRFLOW__CORE__FERNET_KEY
          valueFrom:
            secretKeyRef:
              name: airflow-secret
              key: FERNET_KEY
        - name: AIRFLOW__CORE__LOAD_EXAMPLES
          value: "false"
        - name: AIRFLOW__API__AUTH_BACKENDS
          value: "airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session"
        - name: AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK
          value: "true"

        envFrom:
        - secretRef:
            name: postgres-secret

        volumeMounts:
        - name: airflow-dags
          mountPath: /opt/airflow/dags
        - name: airflow-logs
          mountPath: /opt/airflow/logs
        - name: airflow-config
          mountPath: /opt/airflow/config
        - name: airflow-plugins
          mountPath: /opt/airflow/plugins

        resources:
          requests:
            memory: "1Gi"
            cpu: "500m"
          limits:
            memory: "2.5Gi"
            cpu: "1000m"

      volumes:
      - name: airflow-dags
        persistentVolumeClaim:
          claimName: airflow-dags-pvc
      - name: airflow-logs
        persistentVolumeClaim:
          claimName: airflow-logs-pvc
      - name: airflow-config
        persistentVolumeClaim:
          claimName: airflow-config-pvc
      - name: airflow-plugins
        persistentVolumeClaim:
          claimName: airflow-plugins-pvc
