apiVersion: v1
kind: Secret
metadata:
  name: airflow-secret
  namespace: nexusml # Assuming a namespace for the project
type: Opaque
data:
# Giá trị này là Base64-encoded của: LGdbMaS3TQYOu5nd4uZndG_pZh40vKYm2-mzDYtSgww=
  FERNET_KEY: "TEdkYk1hUzNUUVlPdTVuZDR1Wm5kR19wWmgyMHZLWW0yLW16RFl0U2d3dz0=" # Placeholder for Fernet key, needs to be generated
