apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-webserver
  namespace: nexusml
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow-webserver
  template:
    metadata:
      labels:
        app: airflow-webserver
    spec:
      securityContext:
        runAsUser: 50000
        runAsGroup: 0
      containers:
      - name: airflow-webserver
        image: nbngoc1303/airflow-image:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
          name: webserver-port
        command: ["airflow", "api-server"]
        envFrom:
        - secretRef:
            name: airflow-secret
        volumeMounts:
        - name: airflow-dags
          mountPath: /opt/airflow/dags
        - name: airflow-logs
          mountPath: /opt/airflow/logs
        - name: airflow-config
          mountPath: /opt/airflow/config/airflow.cfg
          subPath: airflow.cfg
        - name: airflow-plugins
          mountPath: /opt/airflow/plugins
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "2Gi"
            cpu: "500m"

      volumes:
      - name: airflow-dags
        persistentVolumeClaim:
          claimName: airflow-dags-pvc
      - name: airflow-logs
        persistentVolumeClaim:
          claimName: airflow-logs-pvc
      - name: airflow-config
        configMap:
          name: airflow-config
      - name: airflow-plugins
        persistentVolumeClaim:
          claimName: airflow-plugins-pvc
